.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  width: 400px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 45px;
}

.icon {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  left: 10px;
  top: 10px;
}

.clear {
  width: 25px;
  height: 25px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 10px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
